---
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects(6)

const title = "kfkonrad • home"
---

<Base
  {title}
  description="Landing page og kfkonrad."
  image="https://kfk.haus/images/kfk.png"
>
  <h1 slot="header-content" class="text-neutral-600 dark:text-neutral-500">
    kfkonrad
  </h1>

   <main class="prose">
      <p>
        <small class="text-neutral-600 dark:text-neutral-500"
          >any pronouns</small
        >
        <br />

        Hi there, I'm <strong>Kevin</strong> aka <strong>kfkonrad</strong>. I'm a DevOps Engineer running his own little Kubernetes Cluster. I aim to automate infrastructure, remove bottlenecks in Agile processes and make the lives of the software engineers I work with easier. As such I'm mainly writing pipelines, infra-as-code-ing and implementing DevOps principles.
      </p>

      <p>
        This website is the entryway to my private Kubernetes cluster. Nothing of public interest to see here, I promise.
      </p>

      <div class="mt-12" />
      <h2>Projects</h2>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
        {projects.map(project => <Project {project} />)}
      </div>
  </main>
</Base>
